.menus {
  display: flex;
  gap: 15px;
  padding: 10px 30px;
  font-size: 14px;

  &-menu {
    position: relative;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 10px;

    &:not(.active) {
      &:hover {
        box-shadow:
          inset 2px 2px 5px #cad3e7,
          inset -2px -2px 5px #f3feff;
      }
      &:active {
        box-shadow:
          inset 3px 3px 6px #cad3e7,
          inset -1px -1px 3px #f3feff;
      }
    }

    &.active {
      box-shadow:
        inset 5px 5px 5px #cbd4e8,
        inset -5px -5px 5px #f3feff;
    }
  }
}
