.song-list-form {
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  height: 67vh;

  h1 {
    text-align: center;
    margin-bottom: 24px;
  }
}

.song-list-matrix-grid {
  display: grid;
  grid-template-columns: repeat(
    3,
    150px
  ); /* Fixed 3 columns with 150px width */
  gap: 10px;
  margin-top: 20px;
  max-height: calc(100% - 44px);
  overflow-y: auto;
  overflow-x: hidden;
}

.song-list-matrix-item {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column; /* Align items vertically */
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  text-align: center;
  overflow: hidden; /* Hide overflow text */
  white-space: normal; /* Allow text to wrap */
  word-break: break-word; /* Break words if too long */
}

.song-singer {
  font-size: 0.8em;
  color: #666;
  margin-top: 5px; /* Add some space between song title and singer */
}
