.openteam-list-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  border-radius: 20px;
}

.openteam-list-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  flex-direction: row-reverse;

  .openteam-list-actions-left {
    display: flex;
    gap: 10px;
  }

  .ant-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #f9ecf7;
    border: none;
    cursor: pointer;
    box-shadow:
      8px 8px 16px #e8dce4,
      -8px -8px 16px #ffffff;
    color: #a08c9a;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:active {
      box-shadow:
        inset 8px 8px 16px #e8dce4,
        inset -8px -8px 16px #ffffff;
    }
  }
}

.common-form {
  .ant-list {
    max-height: 480px;
    overflow-y: auto;
    padding-right: 10px;
  }
}
