.user-form {
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  width: 400px;

  h1 {
    text-align: center;
    margin-bottom: 24px;
  }

  &-items {
    .ant-form-item {
      margin-bottom: 16px;
    }

    .ant-form-item:last-child {
      text-align: right;
      margin-bottom: 0;
    }
  }
}

.user-list-matrix {
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  min-height: 613px;
  max-height: 613px;
  height: 613px;

  h1 {
    text-align: center;
    margin-bottom: 24px;
  }
}

.user-list-matrix-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  gap: 10px;
  max-height: 490px;
  overflow-y: auto;
}

.user-list-matrix-item {
  padding: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  text-align: center;
}
