.user-list-matrix.disabled {
  opacity: 0.6;
  pointer-events: none; // Disable all pointer events on the element
  cursor: not-allowed;

  .user-list-matrix-item {
    cursor: not-allowed !important; // Ensure individual items also show not-allowed cursor
  }
}

.user-list-matrix-item.selected {
  box-shadow:
    inset 8px 8px 10px #c9d2e6,
    inset -8px -8px 10px #f5ffff;
}
