.user-list-matrix.disabled {
  opacity: 0.6;
  pointer-events: none; // Disable all pointer events on the element
  cursor: not-allowed;

  .user-list-matrix-item {
    cursor: not-allowed !important; // Ensure individual items also show not-allowed cursor
  }
}

.user-list-matrix-item.selected {
  background-color: #e6f7ff;
  border: 1px solid #91d5ff;
}
