.user-list-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 47px); /* Assuming header height + total padding */
  overflow-y: auto;
}
