.add-team-button {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  background-color: #f9ecf7; /* Updated background-color */
  border: none;
  box-shadow:
    5px 5px 10px #bebebe,
    -5px -5px 10px #ffffff;
  font-size: 14px; /* Updated font-size */
  color: #333;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #a9d0f4; /* Hover background-color */
  }
}

.add-team-button:active {
  box-shadow:
    inset 5px 5px 10px #bebebe,
    inset -5px -5px 5px #ffffff;
}

.participant-registration-container {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
}
